.grp-AllMess-Corps {
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  width: 100%;
  color: orangered;
  background-color: black;
}

.grp-AllMess-list {
  list-style-type: none;
  padding: 32px;
  width: 100%;
  background-color: lightyellow;
  color: black;
}

.grp-AllMess-Ent {
  display: flex;
  justify-content: center;
}

.grp-Onclick-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.grp-p-btn {
  font-size: 1.2em;
  font-weight: bold;
}

.grp-AllMess-bloc {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: lightgreen;
  padding: 10px;
  border: 2px black solid;
}

.grp-AllMess-btn {
  border: 0;
  background-color: green;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 30px;
}

.grp-AllMess-btn-Admn {
  background-color: lightyellow;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 40px;
  color: orangered;
  font-size: 15px;
  font-weight: bolder;
}

.grp-AllMess-btn-Admn:hover {
  border: 1px solid orangered;
  color: black;
}

.grp-AllMess-btn-rouge {
  background-color: red;
}

.grp-AllMess-btn-darkolivegreen {
  background-color: darkolivegreen;
}

.grp-AllMessComment {
  display: flex;
  justify-content: center;
}

.grp-AllMessComm-btn {
  padding: 0px 20px;
}

.grp-AllMess-Bonjour {
  font-size: 20px;
}
